---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

const allBlogArticles: CollectionEntry<'blog'>[] = await getCollection('blog');


const sortedArticles = allBlogArticles.sort((a, b) => {
  const dateA = new Date(a.data.pubDate);
  const dateB = new Date(b.data.pubDate);
  return dateB - dateA;
});

const article = sortedArticles[0];

---

<div class="flex justify-end gap-4">
  <div class="flex flex-row backdrop-blur-xl rounded-xl items-center mt-32 mb-24 p-4 sm:p-12 gap-8 w-1/2">
    <div>
      <h1 class="text-lg lg:text-xl mb-4 font-black">Latest Post</h1>

      <h2 class="text-2xl font-semibold mb-2">
        <a
          href={`/${article.slug}`}
          class="hover:text-red-500 hover:scale-110 cursor-pointer transition-all duration-100"
        >
          {article.data.title}
        </a>
      </h2>
      <p class="text-gray-200 text-sm mb-4">
        {new Date(article.data.pubDate).toLocaleDateString()}
      </p>
      <div class="flex gap-4 flex-wrap">
        {article.data.tags.map((tag) => (
          <span class="px-2 py-1 bg-transparent border-2 border-white text-white rounded-full text-xs hover:opacity-90 hover:text-red-300 cursor-pointer transition-all duration-100 hover:border-red-500">
            <a href={`/articles/tag` + tag}>{tag}</a>
          </span>
        ))}
      </div>
    </div>

    <div>
      <a href={`/${article.slug}`}>
        {article.data.image ? (
          <img
            src={article.data.image}
            alt={article.data.title}
            class="object-cover hover:scale-110 transition duration-200 ease-in-out rounded-lg"
          />
        ) : (
          <p>Loading ...</p>
        )}
      </a>
    </div>
  </div>



</div>
